@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  height: 350px; 
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  width: 0;
  background: transparent; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
}


.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .tasky-heading::after {
    content: '';
    display: block;
    width: 50%; /* Adjust the width of the line as needed */
    height: 2px; /* Adjust the thickness of the line */
    background: linear-gradient(to right, #4f46e5 50%, transparent 50%);
    background-size: 10px 2px; /* Creates a wavy or zigzag pattern */
    margin: 8px auto 0; /* Adjust spacing as needed */
    transform: skewX(-10deg); /* Adds a slight angle for a hand-drawn effect */
}

